
    <h2> Donner Feedback à notre site Web.</h2>
    <form action="mailto:besttunisiatravel@gmail.com" method="get" enctype="text/plain">
      <p>Nom: <input type="text" name="name"/></p>
      <p>Email: <input type="text" name="email"/></p>
      <p>Commentaires:
        <br />
        <textarea name="comments" rows = "12" cols = "35"></textarea>
        <br>
      <p><input type="submit" name="submit" value="Envoyer" />
        <input type="reset" name="reset" value="Supprimer" />
      </p>
    </form>
  